# Virtual environment
.venv/
venv/

# Data files — too large for GitHub
data/raw/*
data/processed/*

# Keep folder structure visible on GitHub
!data/raw/.gitkeep
!data/processed/.gitkeep

# Python cache — auto generated, never commit
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Environment variables
.env
*.env

# VS Code
.vscode/

# Mac system file
.DS_Store

# dbt generated folders
dbt_project/target/
dbt_project/logs/

# Airflow logs
airflow/logs/